html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
   margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
#nav {
	list-style: none;
}

a img {
   border: none
}
aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


html {
	width: 100%;
	height: 100%;
}

body {
   font-family: Algerian, Helvetica, sans-serif;
	font-size: 13px;
	background-color: white;
	color: #575757;
	margin: 0 0 1px; height: 100%; 
	line-height: 1.8;
	border-top: 10px solid black;
}
.title {
	border-bottom: 3px solid #333333;
}

.subtitle {
	border-bottom: 1px solid #A3A3A3;
}
.course_list {
	line-height: 160%;
}

p {
	font-size: 25px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
.project_ul {
	font-size: 20px;
	line-height: 140%;
	color: #000000;
	text-align: left;
	margin-bottom: 14px;
	padding-bottom: 15px;
}
table {
	border-spacing: 10px;
	font-size: 20px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 13px;
	padding-bottom: 15px;
	
}
.div_l {
	font-size: 22px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 13px;
	padding-bottom: 15px;
	float: left;
	width: 50%;
}

.div_r {
	font-size: 20px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 13px;
	padding-bottom: 15px;
	float: right;
	width: 50%;
}
p {
	margin-top: 4px;
}
	
a, p a {
	text-decoration: underline;
	color: #000000;
}
	
a: hover {
   color: white;
}

h1, h2, h3, h4, h5, h6 {
   font-family: Arial, Helvetica, sans-serif;
   font-weight: normal;
	position: relative;
}
h1 {
	font-size: 30px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 15px;
	padding-bottom: 15px;
}
 h1 span {
	font-size: 25px;
	line-height: 12px;
	color: #000000;
	margin-left: 10px;
}
h2 {
	font-size: 28px;
	line-height: 1.8;
	color: #000000;
	text-align: left;
 	margin-bottom: 7px;
	padding-bottom: 12px;
}
h3 {
	font-size: 26px;
	line-height: 0.9;
	color: #000000;
	text-align: left;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
h4 {
	font-size: 14px;
	line-height: 0.9;
	color: #CC3333;
	text-align: left;
	margin-bottom: 8px;
	padding-top: 4px;
}

#container, #container_left, #container_right {
	position: relative;
	width: 100%;
}
	
#container {
	position: relative;
	width: 980px;
	margin: 0 auto;
	background-color: transparent;
	min-height: 100%;
}

	
header {
	position: relative;
	float: left;
	width: 100%;
	height: 100px;
}
#intro {
	width: 982px;
	position: relative;
	float: left;
	height: 120px;
	background: transparent;
	margin-top: 25px;
}
.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top: 4px;
	padding-top: 10px;
}
.holder_content_separator{
	margin-bottom: 20px;
}
a.photo_hover3 {
	position: relative;
	float: left;
	margin: 15px 13px 8px 0;
	padding: 8px;
   background-color: white;
	border: 1px solid #D6D6D6;
}
a.photo_hover3: hover {
	border: 1px solid #D6D6D6;
	background-color: transparent;
	opacity: 0.9;
	z-index: 1000;
}
a.photo_hover2 {
	position: relative;
	float: right;
	margin: 5px 13px 8px 0;
	padding: 8px;
   background-color: white;
	border: 1px solid #E1E1E1;
}
a.photo_hover2: hover {
	border: 1px dotted #66CCFF;
	background-color: #C7EDFF;
	opacity: 0.9;
	z-index: 1000;
}
footer {
	position: relative;
	height: 90px;
	clear: both;
	width: 100%;
	background-image: url(../images/footer.png);
	background-position: left top;
	background-repeat: repeat-x;
	margin-bottom: 18px;
	background-color: black;
}
#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;	
}
#FooterTwo {
	position: absolute;
	right: 225px;
	top: 25px;
	color: white;
}
#FooterTree {
	position: absolute;
	left: 225px;
	top: 26px;
	color: white;
}
.container {
   width: 980px;
   margin: 0 auto;
	background-color: #33CC99;
}

nav {
	position: absolute;
	width: 534px;
	top: 40px;
	left: 450px;
	background: transparent;
	border-top: 1px solid #A3A3A3;
	border-bottom: 1px solid #A3A3A3;
}
nav ul li {
	float: left;
	margin-left: 16px;
	line-height: normal;
}
nav ul li a {
	font-size: 20px;
   font-family: Arial, Helvetica, sans-serif;
	color: #666666;
	font-weight: normal;
	display: block;	/* IE6, IE7 line height fix */
	padding-bottom: 9px;
	padding-top: 6px;
	background-color: transparent;
	margin-top: 6px;
	margin-right: 5px;
   text-decoration: none;
}
nav ul li a: hover {
	color: #CC3333;
}
.content_menu ul {	
	margin: 0px;
	padding: 0px;
	float: none;
}

nav ul li a.current {
	color: #CC3333;
}
.content_menu {
	float: left;
	width: 275px;
	margin-top: -10px;
	margin-bottom: 14px;
}
.content_menu ul {	
	margin: 0px;
	padding: 0px;
	float: none;
}
.content_menu ul li {
	float: none;
	padding-bottom: 15px;
}
.content_menu ul li a {
	font-size: 15px;
	line-height: normal;
   color: #33CC99;
	text-align: left;
	text-decoration: none;
	background-image: url(../images/circle.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 20px;
}
.content_menu ul li a: hover {
   color: #33CC99;
}
#logo {
	position: relative;
   float: left;
	left: 0px;
	width: 168px;
	height: 42px;
	top: 32px;
}
.clearing {
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow: hidden;
}
 	
.button {
	width: 66px;
	height: 15px;
	position: relative;
	margin-top: 12px;
	padding: 9px;
	background-color: black;
	display: inline-block;
	color: white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 13px/100% Arial, Helvetica, sans-serif;
}
.button: hover {
	background-color: #333333;
}

.button: active {
	position: relative;
	top: 1px;
}
